<!-- myapp/templates/myapp/dashboard.html -->
{% extends "myapp/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}Dashboard{% endblock %}

{% block content %}
    <h2>Dashboard Overview</h2>
    <p>This is your dashboard where you can see an overview of your statistics and recent activities.</p>
    <div class="large-box"></div>
    <div class="small-boxes-row">
        <div class="small-box"></div>
        <div class="small-box"></div>
    </div>
    <div class="small-boxes-row">
        <div class="small-box"></div>
        <div class="small-box"></div>
        <div class="small-box"></div>
    </div>
    <div class="small-boxes-row">
        <div class="small-box"></div>
        <div class="small-box bullet-points">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
{% endblock %}
